VITE_FIREBASE_API_KEY=COLOCAR_API_KEY_AQUI
VITE_FIREBASE_AUTH_DOMAIN=COLOCAR_AUTH_DOMAIN_AQUI
VITE_FIREBASE_PROJECT_ID=COLOCAR_PROJECT_ID_AQUI
VITE_FIREBASE_STORAGE_BUCKET=COLOCAR_STORAGE_BUCKET_AQUI
VITE_FIREBASE_MESSAGING_SENDER_ID=COLOCAR_MESSAGING_SENDER_ID_AQUI
VITE_FIREBASE_APP_ID=COLOCAR_APP_ID_AQUI
