rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function edneyEmail() {
      return request.auth != null && request.auth.token.email in [
        "edneypugleise@gmail.com",
        "edneypugliese.dev@gmail.com"
      ];
    }

    match /expenses/{expenseId} {
      allow read, create, update, delete: if edneyEmail();
    }

    match /settlements/{settlementId} {
      allow read, create, update, delete: if edneyEmail();
    }

    match /marketItems/{itemId} {
      allow read, create, update, delete: if edneyEmail();
    }

    match /marketReceipts/{receiptId} {
      allow read, create, update, delete: if edneyEmail();
    }

    match /otherPayments/{paymentId} {
      allow read, create, update, delete: if edneyEmail();
    }

    match /userProfiles/{profileId} {
      allow read, create, update: if edneyEmail();
    }
  }
}
